@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
.logo-small {
  width: 50px;
  height: auto;
}
:root {
  --bg-color: #fff;
  --text-color1: #1f1f21;
  --text-color2: #fff;
  --main-color: #15a6f5;
  --bg-opacity: #fffefa;

  --big-font: 3rem;
  --title-font: 40px;
  --p-font: 1rem;
}
body {
  background: var(--bg-color);
  overflow-x: hidden;
}
/* navbar */
.navbar {
  width: auto;
  height: 70px;
  margin: 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.3s background-color;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -ms-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
}

.navbar-brand img {
  width: 40px;
  height: auto;
}

.login-button {
  margin-right: 10px;
  background-color: var(--main-color);
  opacity: 100%;
  color: var(--text-color2);
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s backgroud-color;
  -webkit-transition: 0.3s backgroud-color;
  -moz-transition: 0.3s backgroud-color;
  -ms-transition: 0.3s backgroud-color;
  -o-transition: 0.3s backgroud-color;
}
.login-button:hover {
  background-color: var(--main-color);
  opacity: 70%;
}
.offcanvas-header img {
  width: 40px;
  height: auto;
}
.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.navbar .nav-link.active {
  color: var(--text-color1);
  font-weight: 700;
}

.navbar .nav-link {
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 550;
  opacity: 85%;
  position: relative;
}

.navbar .nav-link:hover,
.navbar .nav-link.active:hover {
  color: var(--text-color1);
  font-weight: 650;
  opacity: 100%;
}

@media (min-width: 990px) {
  .navbar .nav-link::before {
    content: "";
    color: var(--text-color2);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    visibility: hidden;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .navbar .nav-link:hover::before,
  .navbar .navlink.active::before {
    width: 100%;
    visibility: visible;
  }
}

/* content1 */
.content-1 {
  position: relative;
  background: url(./images/h-bg-1.jpg);
}
.img-k1 {
  width: 580px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-k1:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.content-1 h1 {
  font-size: 70px;
  font-weight: 650;
  background: linear-gradient(to right, var(--main-color), #ee0d62);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: start;
}
.content-1 h3 {
  margin-top: 4.5rem;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color1);
  opacity: 90%;
  text-align: start;
}
.garis {
  opacity: 97%;
  height: 1px;
  background: linear-gradient(50deg, #011f46, var(--main-color));
  border: none;
  border-radius: 17px;
  width: 90%;
}

.content-1 p {
  margin-top: 10px;
  color: var(--text-color1);
  opacity: 90%;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
  font-size: 17px;
}
.button-group {
  display: inline-flex;
  gap: 40px;
}
/* Tombol btn */
.button-group .btn {
  display: inline-block;
  padding: 10px 20px;
  width: 180px;
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.button-group .btn-2 {
  background-color: var(--main-color);
}

.button-group .btn-1 {
  background-color: #ee0d62;
}

.button-group .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  opacity: 0.9;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
@media (max-width: 770px) {
  .content-1 h1 {
    font-size: 3rem; /* Sesuaikan ukuran font */
  }
  .content-1 h3 {
    font-size: 1.5rem;
  }
  .content-1 {
    padding: 10px;
  }

  .content-1 .button-group {
    text-align: center;
  }

  .content-1 .img-k1 {
    display: none;
  }
}

/* content2 */
.content-2 {
  margin-top: 20px;
}
.content-2 h1 {
  font-size: 37px;
  font-weight: 605;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 90%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-2 h3 {
  margin-top: 20px;
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 500;
  opacity: 90%;
}
.circle img {
  width: 150px;
  height: 150px;
  margin: 20px 70px;
}
.d-flex .circle .rounded-circle {
  border: 15px solid var(--text-color2);
}
.d-flex .circle h5 {
  font-size: 20px;
  font-weight: 650;
  color: var(--text-color1);
  opacity: 87%;
}

.d-flex .circle p {
  text-align: justify;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 380;
  color: var(--text-color1);
  opacity: 87%;
  letter-spacing: 0.9px;
}

/* content-3 */
.content-3 h1 {
  font-size: 37px;
  font-weight: 650;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 95%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-3 .row h5 {
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 500;
  opacity: 90%;
}
.content-3 .row,
.h5 .p .a {
  max-width: 1200px;
  text-align: start;
}

.content-3 h3 {
  font-size: 27px;
  font-weight: 600;
  color: var(--text-color1);
  opacity: 90%;
  letter-spacing: 1px;
}
.content-3 .row p {
  font-size: var(--p-font);
  color: var(--text-color1);
  opacity: 80%;
  font-weight: 300;
  letter-spacing: 0.4px;
}

/* content4 */

.content-4 h3 {
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 95%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-4 h1 {
  font-size: 37px;
  font-weight: 650;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 95%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-card {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px 4px 10px rgba(0, 0, 0, 0.2),
    0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 15px;
  border-radius: 20px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  height: 500px;
  width: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.testimonial-card:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.testimonial-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  opacity: 90%;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.testimonial-card:hover .overlay {
  background-color: var(--bg-color);
  opacity: 30%;
}

.testimonial-card .content {
  position: relative;
  z-index: 2;
}
.testimonial-text {
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: 400;
  opacity: 90%;
  text-align: justify;
}

.testimonial-author {
  margin-top: 10px;
  font-weight: 650;
  opacity: 90%;
}

/* btn */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #011f46;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* btn more less*/
.hidden-text {
  display: none;
}

.read-more-btn {
  color: #011f46;
  opacity: 90%;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 650;
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
}
.read-more-btn:hover {
  color: #011f46;
  opacity: 70%;
  text-decoration: none;
}

/* content5 */
content-5 {
  display: inline-block;
}
.content-5 .text-content {
  /* background: url(./images/h-c-5.2.jpg); */
  /* background: linear-gradient(to right, var(--main-color), #ee0d62); */
  background-color: #0b3061;
  transition: all 0.3s ease-in-out;
}
.content-5 .text-content:hover {
  /*background: url(./images/h-c-5.2.jpg);
  */
  /* background: linear-gradient(to right, var(--main-color), #ee0d62); */
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.content-5 .text-content h1 {
  font-weight: 550;
  opacity: 90%;
  font-size: 17px;
  color: var(--text-color2);
}

.content-5 .text-content p {
  color: var(--text-color2);
  opacity: 95%;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
}
.content-5 .text-content span {
  color: var(--bg-color);
  font-size: 23px;
  font-weight: 650;
}

/* content6 */
.content-cs {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px 4px 10px rgba(0, 0, 0, 0.2),
    0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.content-cs h1 {
  font-size: 30px;
  font-weight: 600;
}
.content-cs h3 {
  font-size: 16px;
  line-height: 1.7rem;
  letter-spacing: 0.5px;
  font-weight: 520;
  background: linear-gradient(to right, #011f46, var(--main-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-cs {
  display: flex;
  align-items: center;
}
.custom-img {
  max-width: 100%;
  height: auto;
}
.content-cs .custom-input {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .custom-img {
    display: none;
  }
  .content-all {
    padding: 2rem 1rem;
  }
}
/* footer */
.list1,
.footer-links,
.list2 {
  list-style-type: none;
  padding-left: 0;
}

.list1 li,
.footer-links li,
.list2 li {
  margin-bottom: 10px;
}

/* Gaya untuk tautan di list1 */
.list1 a {
  color: var(--text-color2);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

.list1 a:hover {
  text-decoration: underline;
}

/* Gaya untuk tautan di footer-links */
.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Gaya untuk tautan di list2 */
.list2 a {
  color: var(--text-color2);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.list2 a:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}

/* Gaya untuk judul di footer */
.footer h4 {
  color: var(--text-color2);
  font-weight: 600;
  font-size: 20px;
}

/* Gaya untuk footer */
.footer {
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 0.9;
}

/* Gaya untuk elemen tambahan */
.list4,
.follow,
.copyright {
  color: var(--text-color2);
}
