@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
:root {
  /* kelompokkan warna dengan kode */
  --bg-color: #fff;
  --text-color1: #1f1f21;
  --text-color2: #fff;
  --main-color: #15a6f5;
  --bg-opacity: #fffefa;
  --big-font: 3rem;
  --title-font: 40px;
  --p-font: 1rem;
}

body {
  /* Pengaturan umum untuk body */
  background-color: white;
  background-size: cover;
  height: 0vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* navbar */
.navbar-brand img {
  height: auto;
}

.offcanvas-title .logo-small {
  width: 50px;
  height: auto;
}
.signup-button {
  background-color: var(--main-color);
  opacity: 100%;
  color: var(--text-color2);
  font-size: 13px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s backgroud-color;
  -webkit-transition: 0.3s backgroud-color;
  -moz-transition: 0.3s backgroud-color;
  -ms-transition: 0.3s backgroud-color;
  -o-transition: 0.3s backgroud-color;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.signup-button:hover {
  background-color: var(--main-color);
  opacity: 80%;
}
/* sb-2 */
.signin-button {
  background-color: #ee0d62;
  opacity: 100%;
  color: var(--text-color2);
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s backgroud-color;
  -webkit-transition: 0.3s backgroud-color;
  -moz-transition: 0.3s backgroud-color;
  -ms-transition: 0.3s backgroud-color;
  -o-transition: 0.3s backgroud-color;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.signin-button:hover {
  background-color: #ee0d62;
  opacity: 80%;
}
.offcanvas-header img {
  width: 130px;
  height: auto;
}
.offcanvas-body {
  font-size: 10px;
}
.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.navbar .nav-link.active {
  color: var(--text-color1);
  opacity: 90%;
}
.navbar .nav-link {
  color: var(--text-color1);
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

@media (min-width: 990px) {
  .navbar .nav-link::before {
    content: "";
    color: var(--text-color2);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1.5px;
    background-color: var(--text-color1);
    opacity: 80%;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .navbar .nav-link:hover::before,
  .navbar .navlink.active::before {
    color: var(--text-color1);
    width: 100%;
    visibility: visible;
  }
}
.navbar .nav-link.active::before {
  color: var(--text-color1);
  width: 100%;
  visibility: visible;
}
/* btn */
/* Tombol btn */
.button-group .btn {
  display: inline-block;
  padding: 15px 20px;
  height: 50px;
  width: auto;
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* btn btn-2 */
.button-group .btn-2 {
  background-color: #ee0d62;
}
/* btn btn-1 */
.button-group .btn-1 {
  background-color: var(--main-color);
}

.button-group .btn:hover {
  color: var(--text-color1);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  opacity: 0.9;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/* btn-3 */
.button-group {
  position: relative;
}

.button-group .btn-3 {
  text-decoration: none;
  font-size: var(--p-font);
  color: #011f46;
  opacity: 85%;
  font-weight: 510;
  position: relative;
}

@media (min-width: 990px) {
  .button-group .btn-3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #011f46;
    opacity: 30%;
    width: 100%;
  }
  .button-group .btn-3::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #011f46;
    opacity: 100%;
    visibility: hidden;
    transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -webkit-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -moz-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -ms-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
  }
  .button-group .btn-3:hover::before {
    width: 100%;
    visibility: visible;
  }
}

/* ISI MENU ABOUT US */
/* Mengatur background image */
.image-section { 
            position: relative;
            /* Menetapkan posisi elemen relatif terhadap posisinya sendiri. */
            height: 50vh;
            /* Menentukan tinggi elemen 50% dari tinggi viewport. */
            overflow: hidden;
            /* Menyembunyikan konten yang melebihi batas elemen. */
        }
.image-section img {
            width: 100%;
            /* Gambar melebar penuh sesuai dengan ukuran kontainer. */
            height: 100%;
            /* Gambar meninggi penuh sesuai dengan ukuran kontainer. */
            object-fit: cover;
            /* Gambar tidak terdistorsi dan mengisi seluruh area tanpa mengubah rasio. */
        }
.about-us-container {
  /* Gaya untuk kontainer 'About Us' */
  margin-top: 50px;
  padding-bottom: 50px;
}

.jumbotron {
  /* Gaya untuk jumbotron siapa kami */
  margin: 0 auto;
  max-width: 900px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px 4px 10px rgba(0, 0, 0, 0.2),
    0px 6px 15px rgba(0, 0, 0, 0.2);
}

.jumbotron h1 {
  /* Gaya untuk judul dalam jumbotron siapa kami */
  font-size: 3em;
  font-weight: bold;
  color: #3a3a3a;
}

.jumbotron img {
  /* Gaya untuk gambar logo dalam jumbotron siapa kami */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
            /* Ukuran logonya mengecil jika layar HP */
            .jumbotron img {
                max-width: 100px;
                max-height: 100px;
            }
        }

.jumbotron p {
  /* Gaya untuk paragraf dalam jumbotron siapa kami */
  font-size: 1.2em;
  line-height: 1.6em;
  color: #555;
  text-align: justify;
}

.content2 {
  /*Mengatur background kayu pada visi misi*/
  background-image: url(../images/kayu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  margin: 20px 0;
  border-radius: 15px;
}

/*GURUUUUUUU*/
.shadow-box {
  /* Efek box-shadow pada guru dan galeri*/
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px 4px 10px rgba(0, 0, 0, 0.2),
    0px 6px 15px rgba(0, 0, 0, 0.2);
}

.pengajar-item {
  /*Mengatur konten pada box carousel guru*/
  width: 500px;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
}

.pengajar-item img {
  /*Mengatur foto guru*/
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3.5px solid #007bff;
  margin-bottom: 15px;
}

#detail {
  /*Rata kanan kiri untuk detail deskripsi*/
  text-align: justify;
}

.additional-info {
  /*Mengatur jarak antara tulisan informasi selengkapnya dengan bawahnya*/
  margin-top: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: none;
}

.text-center h1 {
  /*Mengatur huruf judul h1*/
  font-size: 37px;
  font-weight: 650;
  background: linear-gradient(to right, #011f46, var(--main-color));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/*GALERIIIIIIII*/
.gallery {
  margin-bottom: 100px;
}

.gallery-item {
  /*Mengatur konten pada box carousel galeri*/
  width: 500px;
  padding: 15px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 15px;
}

.gallery-item:hover {
  /* Hover Effect */
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3), -6px 6px 15px rgba(0, 0, 0, 0.3),
    0px 8px 20px rgba(0, 0, 0, 0.3);
}

.gallery-description {
  /*Deskripsi setiap foto di galeri*/
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
}

.divider {
  /*Garis pemisah*/
  border: none;
  height: 2px;
  background-color: #007bff;
  margin: 40px 0;
}

/*Agar ukuran foto pada guru dan galeri responsif*/
@media (max-width: 768px) {
  .pengajar-item {
    width: 90%;
    /* Lebar yang lebih besar pada tampilan mobile */
  }

  .gallery-item {
    width: 90%;
    /* Lebar yang lebih besar pada tampilan mobile */
  }
}

@media (min-width: 769px) {
  .pengajar-item {
    width: 500px;
    /* Lebar default untuk laptop */
  }

  .gallery-item {
    width: 500px;
    /* Lebar default untuk laptop */
  }
}

/*Tulisan pada informasi selengkapnya*/
.more-info {
  color: #011f46;
  opacity: 90%;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 650;
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
}

.more-info:hover {
  color: #011f46;
  opacity: 70%;
  text-decoration: none;
}

/*MENGATUR CAROUSEL*/
.carousel-control-prev {
  left: 20px;
  /* Menggeser tombol previous lebih dekat ke konten */
}

.carousel-control-next {
  right: 20px;
  /* Menggeser tombol next lebih dekat ke konten */
}

.carousel-inner {
  /*Mengatur jarak antara carousel dengan tulisan diatasnya*/
  padding: 20px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /*Mengatur ikon untuk menggeser carousel*/
  background-color: rgba(0, 0, 0, 0.248);
  border-radius: 50%;
}

/* footer */
#backToTop {
  position: absolute; /* Membuat tombol bisa ditempatkan di bagian footer */
}

.list1,
.footer-links,
.list2 {
  list-style-type: none;
  padding-left: 0;
}

.list1 li,
.footer-links li,
.list2 li {
  margin-bottom: 10px;
}

/* Gaya untuk tautan di list1 */
.list1 a {
  color: var(--text-color2);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

.list1 a:hover {
  text-decoration: underline;
}

/* Gaya untuk tautan di footer-links */
.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Gaya untuk tautan di list2 */
.list2 a {
  color: var(--text-color2);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.list2 a:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}

/* Gaya untuk judul di footer */
.footer h4 {
  color: var(--text-color2);
  font-weight: 600;
  font-size: 20px;
}

/* Gaya untuk footer */
.footer {
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 0.9;
}

/* Gaya untuk elemen tambahan */
.list4,
.follow,
.copyright {
  color: var(--text-color2);
}
