@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-color: #fff;
  --text-color1: #1f1f21;
  --text-color2: #fff;
  --main-color: #15a6f5;
  --bg-opacity: #fffefa;

  --big-font: 3rem;
  --title-font: 40px;
  --p-font: 1rem;
}
body {
  background: var(--bg-color);
}

/* navbar */
.navbar-brand img {
  height: auto;
}

/* sb-1 */
.offcanvas-title .logo-small {
  width: 50px;
  height: auto;
}
.signup-button {
  background-color: var(--main-color);
  opacity: 100%;
  color: var(--text-color2);
  font-weight: 500;
  font-size: 13px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s backgroud-color;
  -webkit-transition: 0.3s backgroud-color;
  -moz-transition: 0.3s backgroud-color;
  -ms-transition: 0.3s backgroud-color;
  -o-transition: 0.3s backgroud-color;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.signup-button:hover {
  background-color: var(--main-color);
  opacity: 80%;
}
/* sb-2 */
.signin-button {
  background-color: #ee0d62;
  opacity: 100%;
  color: var(--text-color2);
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s backgroud-color;
  -webkit-transition: 0.3s backgroud-color;
  -moz-transition: 0.3s backgroud-color;
  -ms-transition: 0.3s backgroud-color;
  -o-transition: 0.3s backgroud-color;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.signin-button:hover {
  background-color: #ee0d62;
  opacity: 80%;
}
.offcanvas-header img {
  width: 130px;
  height: auto;
}
.offcanvas-body {
  font-size: 10px;
}
.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.navbar .nav-link.active {
  color: var(--text-color1);
  opacity: 90%;
}
.navbar .nav-link {
  color: var(--text-color1);
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

@media (min-width: 990px) {
  .navbar .nav-link::before {
    content: "";
    color: var(--text-color2);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1.5px;
    background-color: var(--text-color1);
    opacity: 80%;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .navbar .nav-link:hover::before,
  .navbar .navlink.active::before {
    color: var(--text-color1);
    width: 100%;
    visibility: visible;
  }
}
.navbar .nav-link.active::before {
  color: var(--text-color1);
  width: 100%;
  visibility: visible;
}

/* content1 */

.content-1 .text-content h4 {
  font-size: var(--p-font);
  color: var(--text-color1);
  text-transform: uppercase;
  font-weight: 600;
  opacity: 90%;
}
.content-1 .text-content h1 {
  font-size: 3.9rem;
  font-weight: 510;
  background: linear-gradient(to right, var(--main-color), #ee0d62);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
}

.content-1 .text-content h5 {
  font-size: var(--p-font);
  opacity: 100%;
  line-height: 1.5;
  color: var(--text-color1);
  font-weight: 500;
}
.content-1 .text-content a {
  font-size: 15px;
  color: var(--text-color2);
  text-decoration: none;
}

/* contentlower */
.contentlower {
  position: relative;
  z-index: 2;
}
.contentlower h4 {
  font-size: 25px;
  color: var(--text-color1);
  font-weight: 500;
}
.contentlower .cz {
  font-size: 1.5rem;
  position: relative;
}
.contentlower p {
  font-size: 15px;
  color: var(--text-color1);
  opacity: 90%;
}
@keyframes border-animation {
  0% {
    border-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.5);
  }
  25% {
    border-left-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    border-top-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.5);
  }
  75% {
    border-right-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.5);
  }
}

.contentlower {
  position: relative;
  border: 2px solid transparent;
  animation: border-animation 5s linear infinite;
  -webkit-animation: border-animation 5s linear infinite;
}

/* content-1.2 */
.content-1-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-container {
  display: flex;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  animation: marquee 40s linear infinite;
  -webkit-animation: marquee 40s linear infinite;
}

.marquee img {
  width: 400px;
  height: 500px;
  margin-right: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Pindahkan ke kiri berdasarkan 100% dari total lebar */
  }
}

/* content-1.3 */
.text-content1 h1 {
  font-size: 7rem;
  font-weight: 550;
  background: linear-gradient(to right, #011f46, var(--main-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.9;
}
.text-content1 span {
  background: linear-gradient(to right, #012452, #012452);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-1-3 .textImg img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* animate1.3 */
.animate1,
.animate2 {
  animation: move 5s infinite alternate;
  -webkit-animation: move 5s infinite alternate;
}

@keyframes move {
  0% {
    transform: translate(90px, 0px);
    -webkit-transform: translate(90px, 0px);
    -moz-transform: translate(90px, 0px);
    -ms-transform: translate(90px, 0px);
    -o-transform: translate(90px, 0px);
  }
  100% {
    transform: translate(90px, 0px);
    -webkit-transform: translate(90px, 0px);
    -webkit-transform: translate(30px, -30px);
    -moz-transform: translate(90px, 0px);
    -ms-transform: translate(90px, 0px);
    -o-transform: translate(90px, 0px);
  }
}
/* content1.4 */
.content-1-4 {
  background: linear-gradient(to right, var(--main-color), #ee0d62);
}
.cText h3 {
  color: var(--text-color1);
  font-size: 36px;
  font-weight: 600;
}
.cText p {
  color: var(--text-color1);
  font-weight: 400;
  opacity: 95%;
  text-shadow: 0 0 0.5px var(--text-color1);
}
/* Tombol btn */
.button-group .btn {
  display: inline-block;
  padding: 15px 20px;
  height: 50px;
  width: auto;
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* btn btn-2 */
.button-group .btn-2 {
  background-color: #ee0d62;
}
/* btn btn-1 */
.button-group .btn-1 {
  background-color: var(--main-color);
}

.button-group .btn:hover {
  color: var(--text-color1);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  opacity: 0.9;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/* btn-3 */
.button-group {
  position: relative;
}

.button-group .btn-3 {
  text-decoration: none;
  font-size: var(--p-font);
  color: #011f46;
  opacity: 85%;
  font-weight: 510;
  position: relative;
}

@media (min-width: 990px) {
  .button-group .btn-3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #011f46;
    opacity: 30%;
    width: 100%;
  }
  .button-group .btn-3::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #011f46;
    opacity: 100%;
    visibility: hidden;
    transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -webkit-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -moz-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -ms-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out, visibility 0.6s 0.6s,
      box-shadow 0.7s ease-in-out;
  }
  .button-group .btn-3:hover::before {
    width: 100%;
    visibility: visible;
  }
}

/* content2 */
.content-2 h1 {
  font-size: 37px;
  font-weight: 605;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 90%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-2 h3 {
  margin-top: 20px;
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 500;
  opacity: 90%;
}
.circle img {
  width: 150px;
  height: 150px;
  margin: 20px 70px;
}
.d-flex .circle .rounded-circle {
  border: 15px solid var(--text-color2);
}
.d-flex .circle h5 {
  font-size: 20px;
  font-weight: 650;
  color: var(--text-color1);
  opacity: 87%;
}

.content-2 .circle p {
  text-align: justify;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 380;
  color: var(--text-color1);
  opacity: 87%;
  letter-spacing: 0.9px;
}

/* content-3 */
.content-3 h1 {
  font-size: 37px;
  font-weight: 650;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 95%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-3 .row h5 {
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 500;
  opacity: 90%;
}
.content-3 h3 {
  font-size: 27px;
  font-weight: 600;
  color: var(--text-color1);
  opacity: 90%;
  letter-spacing: 1px;
}
.content-3 .row p {
  font-size: var(--p-font);
  color: var(--text-color1);
  opacity: 80%;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.content-3 a {
  font-size: 15px;
  text-decoration: none;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 95%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
/* content4 */

.content-4 h3 {
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 95%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-4 h1 {
  font-size: 37px;
  font-weight: 650;
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 95%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-card {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px 4px 10px rgba(0, 0, 0, 0.2),
    0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 15px;
  border-radius: 20px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  height: 500px;
  width: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.testimonial-card:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.testimonial-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  opacity: 90%;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.testimonial-card:hover .overlay {
  background-color: var(--bg-color);
  opacity: 30%;
}

.testimonial-card .content {
  position: relative;
  z-index: 2;
}
.testimonial-text {
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: 400;
  opacity: 90%;
  text-align: justify;
}

.testimonial-author {
  margin-top: 10px;
  font-weight: 650;
  opacity: 90%;
}

/* btn */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--text-color1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* btn more less*/
.hidden-text {
  display: none;
}

.read-more-btn {
  color: #011f46;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
}
.read-more-btn:hover {
  color: #011f46;
  opacity: 80%;
  text-decoration: none;
}

/* content5 */
.carousel-item {
  position: relative; /* Pastikan item carousel memiliki posisi relatif */
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  text-align: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.carousel-caption h5 {
  color: var(--text-color2);
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.carousel-caption p {
  font-style: italic;
  color: var(--text-color2);
  font-size: 16px;
  letter-spacing: 1.7px;
  font-weight: 400;
}
/* Media Query untuk layar 900px */
@media (max-width: 1200px) {
  .carousel-caption {
    margin-top: 10px;
  }
  .carousel-caption h5 {
    font-size: 1.1rem; /* Ukuran font yang lebih kecil */
  }
  .carousel-caption p {
    font-size: 0.7rem; /* Ukuran font yang lebih kecil */
  }
}

/* Media Query untuk layar 700px */
@media (max-width: 900px) {
  .carousel-caption {
    margin-top: 5px;
  }

  .carousel-caption h5 {
    font-size: 1rem; /* Ukuran font yang lebih kecil lagi */
  }
  .carousel-caption p {
    font-size: 0.8rem; /* Ukuran font yang lebih kecil */
  }
}
@media (max-width: 895px) {
  .carousel-caption {
    margin-top: -30px;
  }

  .carousel-caption h5 {
    font-size: 1rem; /* Ukuran font yang lebih kecil lagi */
  }
  .carousel-caption p {
    font-size: 0.8rem; /* Ukuran font yang lebih kecil */
  }
}
@media (max-width: 550px) {
  .carousel-caption h5 {
    font-size: 0.9rem; /* Ukuran font yang lebih kecil lagi */
  }
  .carousel-caption p {
    font-size: 0.5rem; /* Ukuran font yang lebih kecil */
    margin-bottom: 30px;
  }
}
@media (max-width: 390px) {
  .carousel-caption h5 {
    font-size: 0.8rem; /* Ukuran font yang lebih kecil lagi */
  }
  .carousel-caption p {
    font-size: 0.4rem; /* Ukuran font yang lebih kecil */
    margin-bottom: 30px;
  }
}

/* content6 */
.content-cs {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px 4px 10px rgba(0, 0, 0, 0.2),
    0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.content-cs h1 {
  font-size: 30px;
  font-weight: 600;
}
.content-cs h3 {
  font-size: 16px;
  line-height: 1.7rem;
  letter-spacing: 0.5px;
  font-weight: 520;
  background: linear-gradient(to right, #011f46, var(--main-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-cs {
  display: flex;
  align-items: center;
}
.custom-img {
  max-width: 100%;
  height: auto;
}
.content-cs .custom-input {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 995px) {
  .custom-img {
    display: none;
  }
  .content-all {
    padding: 2rem 1rem;
  }
}
/* footer */
#backToTop {
  position: absolute; /* Membuat tombol bisa ditempatkan di bagian footer */
}

.list1,
.footer-links,
.list2 {
  list-style-type: none;
  padding-left: 0;
}

.list1 li,
.footer-links li,
.list2 li {
  margin-bottom: 10px;
}

/* Gaya untuk tautan di list1 */
.list1 a {
  color: var(--text-color2);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

.list1 a:hover {
  text-decoration: underline;
}

/* Gaya untuk tautan di footer-links */
.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Gaya untuk tautan di list2 */
.list2 a {
  color: var(--text-color2);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.list2 a:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}

/* Gaya untuk judul di footer */
.footer h4 {
  color: var(--text-color2);
  font-weight: 600;
  font-size: 20px;
}

/* Gaya untuk footer */
.footer {
  background: linear-gradient(to right, #011f46, var(--main-color));
  opacity: 0.9;
}

/* Gaya untuk elemen tambahan */
.list4,
.follow,
.copyright {
  color: var(--text-color2);
}

/* pop up dasboard wali */
/* Modal Background */
#verificationModal .modal-dialog {
  max-width: 900px; /* Set the desired width */
  width: 100%; /* Make it responsive */
  height: auto;
}
.modal-body h3 {
  font-size: 30px;
  background: linear-gradient(to right, #011f46, var(--main-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.modal-body h5 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color1);
  opacity: 85%;
}
.modal-body p {
  font-size: var(--p-font);
  color: var(--text-color1);
  font-weight: 400;
  opacity: 85%;
}
/* pop up login */
#verificationModal2 .box {
  max-width: 750px; /* Set the desired width */
  width: 100%; /* Make it responsive */
  height: auto;
}
.modal-body2 img {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.modal-body2 img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.modal-body2 h2 {
  font-size: 35px;
  color: #ee0d62;
  font-weight: 700;
}

.modal-body2 p {
  font-size: var(--p-font);
  color: var(--text-color1);
  font-weight: 400;
  opacity: 85%;
}
.modal-body2 span {
  font-weight: 700;
}
/* media responsice c2 */
@media (max-width: 768px) {
  .text-content1 h1 {
    font-size: 3em; /* Ukuran font untuk tablet */
  }

  .textImg img {
    width: 30%; /* Gambar mengisi lebar penuh */
    height: auto; /* Menjaga rasio aspek */
  }

  .button-group a {
    display: block; /* Tombol ditampilkan dalam satu kolom */
    margin: 10px 0; /* Margin antara tombol */
  }
}

@media (max-width: 576px) {
  .text-content1 h1 {
    font-size: 3em; /* Ukuran font untuk mobile */
  }

  /* Mengatur posisi gambar pada mobile */
  .textImg img {
    position: static; /* Menghapus posisi absolut */
    margin: 10px 0; /* Margin untuk gambar */
  }
}

@media (max-width: 700px) {
  .content-1 .text-content h1 {
    font-size: 3rem;
  }
}
/* media responsive content img2 */
@media (max-width: 768px) {
  .marquee img {
    max-width: 200px; /* Ukuran gambar lebih kecil di tablet */
    height: auto;
  }
}

@media (max-width: 576px) {
  .marquee img {
    max-width: 150px; /* Ukuran gambar lebih kecil di mobile */
    height: auto;
  }
}
/* content2 */
@media (max-width: 768px) {
  .content-1-4 {
    padding: 5px; /* Mengurangi padding pada perangkat kecil */
  }

  .cText h3 {
    font-size: 2rem; /* Mengatur ukuran font pada perangkat kecil */
  }

  .cText p {
    font-size: 1rem; /* Mengatur ukuran font pada perangkat kecil */
  }
  .img-fluid {
    display: none;
  }
}
@media (max-width: 576px) {
  .content-1-4 {
    padding: 5px; /* Mengurangi padding pada perangkat kecil */
  }

  .cText h3 {
    font-size: 1.5rem; /* Mengatur ukuran font pada perangkat kecil */
  }

  .cText p {
    font-size: 0.8rem; /* Mengatur ukuran font pada perangkat kecil */
  }
  .img-fluid {
    display: none;
  }
  .button-group .btn {
    font-size: 13px;
  }
}
/* content 1.4 */
@media (max-width: 552px) {
  .c3-circle {
    max-width: 100px; /* Adjust size for smaller screens */
    max-height: 100px;
  }

  .c3-oval {
    max-width: 90px; /* Adjust size for smaller screens */
    max-height: auto;
  }
}
