* {
  font-family: "Poppins", sans-serif;
}
/*Mengatur seluruh elemen*/
:root {
  --bg-color: #fff;
  --text-color1: #1f1f21;
  --text-color2: #fff;
  --main-color: #15a6f5;
  --bg-opacity: #fffefa;

  --big-font: 3rem;
  --title-font: 40px;
  --p-font: 1rem;
}

/*Mengatur Navbar*/
/* navbar */

.navbar-brand img {
  height: auto;
}
/* sb-1 */
.offcanvas-title .logo-small {
  width: 50px;
  height: auto;
}
.signup-button {
  background-color: var(--main-color);
  opacity: 100%;
  color: var(--text-color2);
  font-size: 13px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s backgroud-color;
  -webkit-transition: 0.3s backgroud-color;
  -moz-transition: 0.3s backgroud-color;
  -ms-transition: 0.3s backgroud-color;
  -o-transition: 0.3s backgroud-color;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.signup-button:hover {
  background-color: var(--main-color);
  opacity: 80%;
}
/* sb-2 */
.signin-button {
  background-color: #ee0d62;
  opacity: 100%;
  color: var(--text-color2);
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s backgroud-color;
  -webkit-transition: 0.3s backgroud-color;
  -moz-transition: 0.3s backgroud-color;
  -ms-transition: 0.3s backgroud-color;
  -o-transition: 0.3s backgroud-color;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.signin-button:hover {
  background-color: #ee0d62;
  opacity: 80%;
}
.offcanvas-header img {
  width: 130px;
  height: auto;
}
.offcanvas-body {
  font-size: 10px;
}
.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.navbar .nav-link.active {
  color: var(--text-color1);
  opacity: 90%;
}
.navbar .nav-link {
  color: var(--text-color1);
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

@media (min-width: 990px) {
  .navbar .nav-link::before {
    content: "";
    color: var(--text-color2);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1.5px;
    background-color: var(--text-color1);
    opacity: 80%;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .navbar .nav-link:hover::before,
  .navbar .navlink.active::before {
    color: var(--text-color1);
    width: 100%;
    visibility: visible;
  }
}
.navbar .nav-link.active::before {
  color: var(--text-color1);
  width: 100%;
  visibility: visible;
}

/*Mengatur tampilan depan programs*/
.image-section {
  position: relative;
  /*Menetapkan posisi elemen relatif terhadap posisinya sendiri.*/
  height: 50vh;
  /*Menentukan tinggi elemen 50% dari viewport height */
  overflow: hidden;
  /*Menyembunyikan konten yang melebihi batas elemen yang ditampilkan / terpotong*/
}

.image-section img {
  width: 100%;
  /*Gambar melebar penuh sesuai dengan ukuran container*/
  height: 100%;
  /*Gambar meninggi penuh sesuai dengan ukuran container*/
  object-fit: cover;
  /*Gambar tidak terdistorsi dan terlihat baik, karena mengisi seluruh area tanpa mengubah rasio*/
}

.overlay {
  position: absolute;
  /*Agar relatif bergerak terhadap posisi element parent-nya yaitu position relative*/
  top: 0;
  /*Membuat overlay menutupi seluruh area di atas konten di bawahnya.*/
  left: 0;
  /*Membuat overlay menutupi seluruh area di atas konten di bawahnya.*/
  width: 100%;
  /*Menentukan lebar overlay agar mengisi seluruh ruang*/
  height: 100%;
  /*Menentukan tinggi overlay agar mengisi seluruh ruang*/
  display: flex;
  /*Mengatur penataan konten di dalamnya dengan mudah. */
  flex-direction: column;
  /*Mengatur arah penataan elemen agar disusun secara vertikal*/
  justify-content: center;
  /*Menyusun elemen  di tengah secara vertikal dalam overlay.*/
  align-items: center;
  /*Menyusun elemen  di tengah secara horizontal dalam overlay.*/
  text-align: center;
  /*mengatur teks didalam menjadi ke tengah*/
}

.img-custom {
  max-width: 400px; /* Atur lebar maksimum sesuai kebutuhan */
  width: 100%; /* Agar tetap responsif */
  height: auto; /* Menjaga rasio aspek */
}

/* footer */

.list1,
.footer-links,
.list2 {
  list-style-type: none;
  /* Menghapus bullet points */
  padding-left: 0;
  /* Menghapus padding kiri */
}

.list1 li,
.footer-links li,
.list2 li {
  margin-bottom: 10px;
  /* Jarak bawah untuk item daftar */
}

/* Gaya untuk tautan di list1 */
.list1 a {
  color: var(--text-color2);
  /* Menggunakan variabel warna */
  text-decoration: none;
  /* Menghapus garis bawah */
  letter-spacing: 1px;
  /* Jarak antar huruf */
  font-size: 16px;
  /* Ukuran font */
}

.list1 a:hover {
  text-decoration: underline;
  /* Garis bawah saat hover */
}

/* Gaya untuk tautan di footer-links */
.footer-links a {
  text-decoration: none;
  /* Menghapus garis bawah */
}

.footer-links a:hover {
  text-decoration: underline;
  /* Garis bawah saat hover */
}

/* Gaya untuk tautan di list2 */
.list2 a {
  color: var(--text-color2);
  /* Menggunakan variabel warna */
  text-decoration: none;
  /* Menghapus garis bawah */
  letter-spacing: 0.5px;
  /* Jarak antar huruf */
  font-size: 15px;
  /* Ukuran font */
}

.list2 a:hover {
  text-decoration: underline;
  /* Garis bawah saat hover */
}

/* Gaya untuk judul di footer */
.footer h4 {
  color: var(--text-color2);
  /* Menggunakan variabel warna */
  font-weight: 600;
  /* Bobot font */
  font-size: 20px;
  /* Ukuran font */
}

/* Gaya untuk footer */
.footer {
  background: linear-gradient(to right, #011f46, var(--main-color));
  /* Gradien latar belakang */
  opacity: 0.9;
  /* Transparansi */
}

/* Gaya untuk elemen tambahan */
.list4,
.follow,
.copyright {
  color: var(--text-color2);
  /* Menggunakan variabel warna */
}

.card {
  height: 100%; /* Mengatur card untuk mengisi 100% tinggi kontainer */
  display: flex; /* Menggunakan flexbox untuk layouting */
  flex-direction: column; /* Menyusun elemen di dalam card secara vertikal */
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Membuat card-body dapat mengisi ruang yang tersedia */
}

.list-group {
  flex-grow: 1; /* List group akan tumbuh dan mengisi ruang yang ada */
}

.button-group {
  margin-top: auto; /* Mengatur tombol agar selalu berada di bagian bawah */
}

/* Tombol button */
.button-group .btn {
  display: inline-block; /* Menampilkan tombol dalam satu baris */
  padding: 10px 20px; /* Memberikan padding pada tombol */
  width: 180px; /* Lebar tombol tetap 180px */
  color: var(
    --bg-color
  ); /* Menggunakan warna latar belakang dari variabel CSS */
  border: none; /* Menghilangkan border pada tombol */
  border-radius: 5px; /* Memberikan border-radius untuk sudut tombol yang lebih halus */
  text-decoration: none; /* Menghilangkan dekorasi teks (misalnya garis bawah) pada tombol */
  font-size: 16px; /* Mengatur ukuran font tombol */
  font-weight: 600; /* Memberikan ketebalan font tombol */
  cursor: pointer; /* Mengubah cursor saat hover menjadi pointer */
  margin-right: 10px; /* Memberikan margin di sebelah kanan tombol untuk memberi jarak antar tombol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Memberikan bayangan pada tombol */
  transition: all 0.3s ease; /* Memberikan transisi halus untuk efek hover */
}
/* button 2 css */
.button-group .btn-2 {
  background-color: var(
    --main-color
  ); /* Warna latar belakang diambil dari variabel main-color */
}

.button-group .btn-3 {
  background-color: var(
    --bg-color
  ); /* Warna latar belakang diambil dari variabel main-color */
  color: var(--main-color);
}

/* button 2 css */
.button-group .btn-1 {
  background-color: #ee0d62; /* Warna latar belakang merah muda pada tombol pertama */
}
/* animasi*/
.button-group .btn:hover {
  transform: translateY(
    -5px
  ); /* Menggerakkan tombol sedikit ke atas saat hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1); /* Memberikan bayangan yang lebih besar saat hover */
  opacity: 0.9; /* Mengurangi opasitas tombol sedikit saat hover */
  -webkit-transform: translateY(
    -5px
  ); /* Menjamin kompatibilitas di Webkit (Chrome/Safari) */
  -moz-transform: translateY(
    -5px
  ); /* Menjamin kompatibilitas di Mozilla Firefox */
  -ms-transform: translateY(
    -5px
  ); /* Menjamin kompatibilitas di Internet Explorer */
  -o-transform: translateY(-5px); /* Menjamin kompatibilitas di Opera */
}
/* gradien css judul */
.content-1 h1 {
  font-size: 3.9rem;
  font-weight: 510;
  margin-top: 1rem;
  background: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: start;
  line-height: 1;
}

.content-1 p {
  color: var(
    --text-color1
  ); /* Menggunakan warna teks dari variabel text-color1 */
  opacity: 90%; /* Memberikan sedikit transparansi pada teks */
  font-weight: 400; /* Berat font normal */
  margin-bottom: 20px; /* Memberikan jarak bawah pada paragraf */
  letter-spacing: 0.3px; /* Memberikan sedikit jarak antar huruf */
  font-size: 17px; /* Ukuran font sedang */
}

.garis {
  opacity: 97%;
  height: 1px;
  background: #fff;
  border: none;
  border-radius: 17px;
  width: 90%;
}

.content-2 h2 {
  font-size: 37px; /* Ukuran font yang lebih kecil untuk judul kedua */
  font-weight: 650; /* Ketebalan font yang tinggi */
  background: linear-gradient(
    to right,
    #011f46,
    var(--main-color)
  ); /* Gradien warna untuk judul */
  background-clip: text; /* Memotong gradien ke teks */
  -webkit-background-clip: text; /* Kompatibilitas di Webkit */
  color: transparent; /* Menghilangkan warna teks sehingga hanya gradien yang terlihat */
  -webkit-text-fill-color: transparent; /* Kompatibilitas di Webkit untuk membuat teks transparan */
}

.program-description-section {
  color: #333;
  padding: 3rem 0;
}

.program-description-section h2 {
  font-size: 2rem;
}

.feature-icon img {
  transition: transform 0.3s ease;
}

.feature-icon img:hover {
  transform: scale(1.1); /* Efek zoom pada ikon */
}

.program-description-section .row h5 {
  font-weight: bold;
}

.program-description-section p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.description-text {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #555;
}

@media (max-width: 768px) {
  .program-description-section h2 {
    font-size: 1.75rem;
  }
  .description-text {
    font-size: 1rem;
  }
}

/* Awalnya sembunyikan semua tab konten */
#infantcare,
#toddler,
#preschool,
#prekindergarten {
  display: none;
}

.program-tab.active {
  border-width: 2px;
  border-style: solid;
}

.program-tab[data-program="infantcare"].active {
  color: #ec4899;
  background-color: #fdf2f8;
  border-color: #ec4899;
}

.program-tab[data-program="toddler"].active {
  color: #9333ea;
  background-color: #f3e8ff;
  border-color: #9333ea;
}

.program-tab[data-program="preschool"].active {
  color: #3b82f6;
  background-color: #eff6ff;
  border-color: #3b82f6;
}

.program-tab[data-program="prekindergarten"].active {
  color: #10b981;
  background-color: #ecfdf5;
  border-color: #10b981;
}

/* Animasi dari perpaduan js
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
} */
