* {
  font-family: "Poppins", sans-serif;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1); /* ukuran normal */
  }
  50% {
    transform: scale(1.2); /* zoom in */
  }
  100% {
    transform: scale(1); /* kembali ke ukuran normal */
  }
}

body {
  display: grid;
  place-items: center; /* Memposisikan elemen di tengah grid */
  height: 90vh;
}

.home {
  display: flex;
  place-items: start; /* Memposisikan konten .home di kiri atas */
  justify-self: start; /* Memposisikan elemen .home di sisi kiri grid */
  margin-left: 10px;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.home svg {
  color: #03aef0;
}

.home:hover{
  color:#ee0d52;
}

.content {
  margin: 0;
  padding: 10px;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
}

.form {
  width: fit-content;
}


.picture {
  background-color: #03aef0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  height: 450px;
}

.img {
  border-radius: 25px;
  animation: move 5s infinite;
}

h1 {
  font-size: 150%;
  /* Mengatur ukuran font menjadi 250% dari ukuran default */
  font-weight: bold;
}

form {
  width: 450px;
  /* Mengatur lebar form */
  padding-top: 30px;
  /* Menambahkan padding dalam form sebesar 30px */
  padding-right: 30px;
  padding-left: 5px;
}

label {
  font-size: 100%;
}

.submit {
  display: flex;
  /* Menggunakan Flexbox untuk tata letak */
  justify-content: center;
  /* Memposisikan elemen secara horizontal di tengah */
  align-items: center;
  /* Memposisikan elemen secara vertikal di tengah */
  flex-direction: column;
  /* Mengatur elemen secara vertikal */
  height: fit-content;
  /* Mengatur tinggi section submit */
  padding-top: 20px;
}

.submit-2 {
  display: flex;
  /* Menggunakan Flexbox untuk tata letak */
  justify-content: center;
  /* Memposisikan elemen secara horizontal di tengah */
  align-items: center;
  /* Memposisikan elemen secara vertikal di tengah */
  flex-direction: column;
  /* Mengatur elemen secara vertikal */
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 1%;
}

.btn {
  width: 100%;
  /* Mengatur lebar tombol */
  background-color: #15a6f5;
  /* Mengatur warna latar tombol */
  border-radius: 5px;
  /* Membuat sudut tombol melengkung dengan radius 15px */
  font-weight: bold;
  /* Mengatur teks tombol menjadi tebal */
  color: white;
}

.btn-gg {
  width: 100%;
  /* Mengatur lebar tombol */
  height: 40px;
  background-color: #15a6f5;
  /* Mengatur warna latar tombol */
  border-radius: 5px;
  /* Membuat sudut tombol melengkung dengan radius 15px */
  border: solid #15a6f5;
  font-weight: bold;
  /* Mengatur teks tombol menjadi tebal */
  color: white;
}

.btn:hover,
.btn-gg:hover {
  background-color: white;
  /* Mengubah warna latar tombol saat hover */
  color: #15a6f5;
  border: solid 3px #15a6f5;
  /* Mengubah warna border tombol saat hover */
}

p {
  font-size: 70%;
  /* Mengatur ukuran font menjadi 80% dari ukuran default */
  margin-top: -1%;
  /* Menambahkan jarak atas pada paragraf sebesar 5px */
}

.box {
  padding-bottom: 20px;
  /* Menambahkan jarak bawah pada elemen box sebesar 10px */
}

.link {
  font-weight: bold;
  color: #15a6f5;
}

.link:hover {
  font-weight: bold;
  color: #ee0d52;
}

/* CSS untuk Modal Pop-up */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.2); /* Latar belakang semi transparan */
  backdrop-filter: blur(5px); /* Efek blur di latar belakang */
}

.modal-content {
  background-color: white;
  margin: auto;
  margin-top: 150px;
  padding: 10px;
  border-radius: 15px;
  width: 500px;
  height: 400px;
  text-align: center;
  box-shadow: 0 0 50px black;
}

.verified {
  height: 150px;
  width: 150px;
  margin-left: 160px;
  transition: transform 10s ease; /* transisi halus */
  animation: zoom 2s 1; /* animasi zoom berjalan 1 kali */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal p {
  font-size: 150%;
  font-weight: bold;
  padding-top: 30px;
}

.modal-body {
  font-size: 100%;
}

.modal img {
  size: 20px;
}

.btn-modal {
  margin-top: 20px;
  background-color: #15a6f5;
  color: white;
  width: 300px;
  margin-left: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-modal:hover {
  background-color: white;
  color: #15a6f5;
  border: 2px solid #15a6f5;
}


